body {
    box-sizing: border-box;
    margin: 0;
}

.hornaListaFlexContainer {
    border: 1px solid black;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.hornaListaFlexContainer a, .kategorieFlexContainer a {
    color: white;
    text-decoration: none;
    font-size: 200%;
}

.hornaListaFlexContainer, .hornaListaPravaStrana, .hornaListaJednaPolozka {
    background-color: orange;
}

.hornaListaPravaStrana {
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
}

.hornaListaJednaPolozka {
    padding-right: 1rem;
}

.fontHornaLista {
    color: white;
    text-decoration: none;
    font-size: 2rem;
}

.pridajInzeratKontajner {
    background-color: rgb(220, 179, 119);
    margin: 2rem 20rem;

    display: flex;
}

.test {
    margin: 0 2rem;
}


.spodnaLista {
    background-color: rgb(68, 66, 66);

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;

    text-wrap: wrap;
}

.spodnaListaVlavo p {
    color: rgb(108, 103, 103);
    text-align: left;
}

.spodnaListaVpravo p, .spodnaListaVpravo a {
    color: rgb(108, 103, 103);
    text-decoration: none;
    text-align: right;
}

.spodnaListaVpravo h2 {
    text-align: right;
}

h2 {
    text-align: center;
}